.filterDiv {
    padding: 8px 0;
    text-align: right;
}

.box-panel .box-title {
    color: #464646;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.box-panel .box-inner {
    border: 2px solid #EAEAEA;
    overflow: hidden;
    padding: 0
}
.container{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    margin:0px;
    padding: 10px 10% 0px 10%;
}
.row{
	margin:0px;
	padding:0xp;
}

.col-xs-12{
	padding-left:0px;
}