@CHARSET "UTF-8";
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
	/* structural elements 结构元素 */ dl, dt, dd, ul, ol, li,
	/* list elements 列表元素 */ pre, /* text formatting elements 文本格式元素 */
	fieldset, legend, button, input, textarea, /* form elements 表单元素 */ th,
	td {
	/* table elements 表格元素 */
	margin: 0;
	padding: 0;
}

html {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #000;
	font-size: 87.5%;
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}
/* 设置默认字体 */
body, button, input, select, textarea {
	-webkit-text-size-adjust: none !important;
	font-family: Microsoft YaHei, 微软雅黑, SimSun, 宋体, Tahoma, Helvetica, Arial,
		"\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

address, cite, dfn, em, var {
	font-style: normal;
}

/* 将斜体扶正 */
code, kbd, pre, samp, tt {
	font-family: "Courier New", Courier, monospace;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol {
	list-style: none;
}

a {
	display: inline-block;
	cursor: pointer;
	color: #222;
}

abbr[title], acronym[title] {
	/* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
	border-bottom: 1px dotted;
	cursor: help;
}

q:before, q:after {
	content: '';
}

/* 重置表单元素 */
legend {
	color: #000;
}

/* for ie6 */
fieldset, img {
	border: none;
}

/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
	font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 重置 hr */
hr {
	border: none;
	height: 1px;
}

a {
	text-decoration: none;
}

a:active, a:visited, a:link, a:hover, a:focus {
	text-decoration: none !important;
}

.floatL {
	float: left;
}

.floatR {
	float: right;
}

.clear-p {
	padding: 0 !important;
}

.margin-b {
	margin-bottom: 8px;
}

.base-header {
	height: 3.8rem;
	line-height: 3.8rem;
}

.base-header .base-title {
	width: 230px;
	float: left;
}

.base-title span {
	font-size: 1.4rem;
	font-weight: 700;
	color: #fff;
	padding-left: 1.5rem;
}

.base-header .base-hide-btn {
	display: block;
	width: 50px;
	text-align: center;
	float: left;
	color: #fff;
	font-size: 1.3rem;
	cursor: pointer;
}

.base-header .base-btns {
	float: right;
	margin-right: 10px;
}

.base-btns a {
	display: inline-block;
	color: #fff;
	padding: 0 .7rem;
}

.base-header .base-tabs-btn {
	display: block;
	width: 50px;
	text-align: center;
	float: right;
	font-size: 1.3rem;
	cursor: pointer;
}

.ab-tabs-panel {
	display: none;
	position: absolute;
	top: 50px;
	right: 0px;
	border: 1px solid #ededed;
	z-index: 999;
	background: #fff;
}

.ab-tabs-panel .ab-line-panel {
	margin: 10px;
}

.ab-line-panel a {
	display: inline-block;
	border: 1px solid #ededed;
	border-radius: 5px;
	font-weight: 700;
	font-size: .8rem;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	color: #fff;
}

.ab-line-panel a:first-child {
	margin-right: 10px;
}

.ab-line-panel .b1 {
	background: #282E35;
}

.ab-line-panel .b2 {
	background: #FF6C0B;
}

.ab-line-panel .b3 {
	background: #2FBC27;
}

.ab-line-panel .b4 {
	background: #399BFF;
}

.main {
	position: absolute;
	top: 3.6rem;
	width: 100%;
	bottom: 0px;
	z-index: 100;
}

.main .base-left-nav {
	width: 230px;
	position: fixed;
	top: 50px;
	bottom: 0px;
	z-index: 102;
	overflow-x: hidden;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

.main .right-data-panel {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 230px;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}

.main .base-nav-inner {
	width: 250px;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.sidebar-nav .sidebar-title {
	display: block;
	color: #EEF5F8;
	font-size: 1rem;
	line-height: 49px;
	padding-left: 25px;
	cursor: pointer;
	font-weight: 700;
	position: relative;
}

.sidebar-title-down:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 20px;
	right: 30px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #EEF5F8;
	font-size: 0;
	line-height: 0;
}

.sidebar-title>.glyphicon {
	margin-right: 7px;
}

.sidebar-nav {
	position: relative;
}

.sidebar-nav .sidebar-trans {
	display: block;
	background: #48545B;
	display: none;
}

.sidebar-trans .selected-item {
	background: #5C6974;
}

.sidebar-trans .hover-item {
	
}

.sidebar-trans li {
	line-height: 40px;
	padding-left: 65px;
	cursor: pointer;
	font-size: .9rem;
	font-weight: 700;
}

.daterangepicker .calendar {
	max-width: 390px !important
}


/*******************************顶部css样式***********************************/
.header {
	height: 7rem;
	line-height: 7rem;
	background: #169BD5;
}

.header .title {
	background: url("../image/logo.png") no-repeat;
	background-size: 7rem 4rem;
	background-position: 1rem;
	float: left;
}

.header .title>span {
	font-size: 2.2rem;
	color: #fff;
	padding: 0px 1.8rem 0px 9rem;
}

.nav-tabs a {
	display: inline-block;
	color: #fff;
	font-size: 1.6rem;
	padding: 0 4rem;
	font-weight: 700;
}

.nav-tabs .selected {
	background: #fff;
	color: #000 !important;
}

.base-btns .login-user {
	padding: 0 0 0 8px;
	font-size: 1.1rem;
}

.base-btns .glyphicon-off {
	font-size: 1.1rem;
}
/*********************************end******************************************************/
/******************************对表格进行一些初始化*************************************/
.fix-table .fixed-table-header {
	background: #eef3f7 !important;
	font-size: 1rem !important;
}

.fix-table .table-striped>tbody>tr {
	background: none;
}

.fix-table a:hover {
	color: #23f177;
}

.fix-table tbody {
	overflow-y: auto
}

.fix-table .table-striped>tbody>tr:nth-of-type(2n) {
	background-color: #eef3f7 !important;
}

.fix-table .table-striped>tbody>tr:nth-of-type(2n-1) {
	background-color: #fff !important;
}

.fix-table .fixed-table-container thead th {
	border-left: none !important;
}

.fix-table .fixed-table-container tbody td {
	border-left: none !important;
}

.fixed-table-header thead tr th:last-child {
	border-right: none;
}

.fixed-table-body tbody tr td:last-child {
	border-right: none;
}