

.container{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    padding: 0 10%;
}


.mainContent{
    position: absolute;
    top:20px;
    bottom:0px;
    left: 10%;
    right: 10%;

}
.title{
    font-size: 14px;
    height: 100%;
    display:inline-block;
}

.province{
	display:inline-block;
}
.well{
	float:right;
}
.area{
	left:-200px !important;
}

.switchType{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    float: right;
}
.type{
    float: left;
    padding: 0 10px;
    background: #e4ebf0;
}
.cur{
    background: #fead1b;
    color: #fff;
}

.zongChart{
    position: absolute;
    top: 30px;
    bottom: 0;
    width: 100%;

}

.height100{
    height: 100%;

}
.width100{
    width: 100%;
}

.height50{
    height: 50%;

}
.width50{
    width: 50%;
}
.dituliulan{
    border:1px solid #eaeaea;
    height: 100%
}
.padding-0{
    padding: 0 0 0 0;
}
.col_1{
    width: 100%;
    height: 45%;
    border:1px solid #eaeaea;
    border-right: 0;
    border-bottom: 0;
}
.col_11{
    width: 60%;
    height: 100%;
    margin: 0;
    float: left;
    display: inline-block;
}
.col_12{
    width: 40%;
    height: 100%;
    margin: 0;
    padding-left: 20px;
    padding-top: 15%;
    float: left;
    display: inline-block;
}
.djywp1{
    top: 10px;
    color:#4acbee;
    font-size: 12px;
    font-weight: 100;
}
.djywp2{
    color:#4acbee;
    top: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height:0px;
}
.djywp3{
    color:#6ed9a0;
    top: 10px;
    font-size: 12px;
    font-weight: 100;
}
.djywp4{
    color:#6ed9a0;
    top: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height:0px;
}
.djywp5{
    color:#efde50;
    top: 10px;
    font-size: 12px;
    font-weight: 100;
}
.djywp6{
    color:#efde50;
    top: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height:0px;
}
.col_3{
    width: 100%;
    height: 34%;
    border:1px solid #eaeaea;
    border-right: 0;
}
/*//页面2*/
.colaverage{
    width: 100%;
}
.colaverage4{
    width: 100%;
    height: 40%;
}
.colaverage6{
    width: 100%;
    height: 60%;
}
.th-inner {
    text-align: center;
}
td{
    text-align: center;
}

.timeSelect{
	display:inline-block;
	float:right;
	height:30px;
	width:100px;
}
.form-control{
	height:30px;
	border-radius:0;
	width:100%;
	display:inline-block;
	float:right;
}

.word{
	font-size:12px;
}
