
#divMoniterYJ{
    color:#144D77;
    border:0;
}

.colStyle_init1{
    background-color: #f3f3f3 ; 
    color:#333333;
}
.colStyle_init2{
    background-color: white ; 
    color:#333333;
}
.colStyle_click{
    background-color: #d8edff ; 
    color:#0b79c2;
}