/* BODY
----------------------------------------------------------*/
body   
{
    background: #8E5;
    font-size: 15px;
    font-family:"幼圆";
    margin: 0px;
    padding: 0px;
    color: #888;
    cursor:url(../img/cursor02.png),auto;
}

.mo1:hover
{
    color:White;
    } 

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}
.mo
{
    width:900px;
   	text-shadow:0 2px 0 #333; 
   	margin-top:0.3%;
   	margin-left:20%;
   	font-size:24px;
   	display:inline-block;
   	font-family:"幼圆","Yu Gothic";
    }  
    
.atop
{
    width:1024px;
    height:300px;
    margin-left:15%;
    margin-top:0.5%;
    border-radius:10px;
	text-shadow:0 1px 0 #fff;
}

/* LEFT TOP
----------------------------------------------------------*/
.ltop
{
    width:324px;
    height:300px;
    background-image:url(../img/init_img01.jpg);
    background-size:100% 100%;
    float:left;
    border-radius:15px;
    opacity:0.5;
    cursor:url(../img/cursor02.png),auto;
	box-shadow:0 5px 0 #3D1;
    }

.ltop:hover
{
    box-shadow:1px 5px 3px #1D8;
    border-radius:35px;
    opacity:1;
    }
    
 
/* CENTER TOP
----------------------------------------------------------*/
.ctop
{
    width:350px;
    height:300px;
    background:#59D;
    float:left;
    border-radius:5px;
    opacity:0.9;
    cursor:url(../img/cursor02.png),pointer;
    box-shadow:1px 5px 0 #27D;
    }
    
 .hd{
	height: 30px;
	border-top: 3px solid #900;
	font-size: 25px;
	color:Purple; 
	font-family:"宋体";
	text-align:center;
	}
	

.s
{
    width: 32%;
	height: 29px;
	border-left:2px solid #CFCFCF;
	border-right:2px solid #CFCFCF;
	float: left; 
	border-radius:5px;
	background-color:white;
    }

.s:hover
{
    color:Blue;
    }
    	
.s2
{
	background-color:Silver;
	}
		
.bd ul{
	list-style: none;
	}

.mo3
   {
       font-family:方正胖娃_GBK;
       font-size:14px;
       color:#222222;
       letter-spacing:2px;
       }
       
.mo3:hover
{
    color:white;
    }
.m3:hover
{
    .mo4 display:block;
    }
	    
  #tupian,#junshi
  {
	display: none;
	}


	
/* RIGHT TOP
----------------------------------------------------------*/    
 .rtop
{
    width:350px;
    height:300px;
    background:#44BB55;
    float:left;
    background-image:url(../img/init_img02.jpg);
    background-size:100% 100%;
    border-radius:15px;
    opacity:0.5;
    cursor:url(../img/cursor02.png),pointer;
    box-shadow:1px 5px 0 #11BB55;
    }    
    
 .rtop:hover
 {
    opacity:1;
    border-radius:30px;
    box-shadow:1px 5px 0 #2E8;
     }


   